
    @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet');

	#card {
		font-family: 'Spartan', sans-serif;
		color:rgb(47, 53, 66);
	}
	#descripcion{
		border-radius: 15px;
	}
h5{
	font-size:110%;
}
	.selectpicker{
		width:50%;
	}
	
	.form-control {
		background: transparent;
		border: none;
		border-bottom: 1px solid darkgray;
	}

	.form-control:focus {
		background: transparent;
		border: none;
		border-bottom: 1px solid darkgray;
		outline: none;
		border-color: inherit;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
