@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet');
	@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
	#card {
		color: rgb(47, 53, 66);
	}

	#titulo{
		font-family: 'Spartan', sans-serif;
		font-size:180%;
	}

	#table{
		font-family: 'Spartan' ;
		font-size:95%;
	}

	tbody {
		display: block;
		height:290px;
		overflow: auto;
	}

	thead,
	tbody tr {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
